<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{/general/head.html}"></div>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-wysihtml5.css}"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/pages/inbox.css}" rel="stylesheet">
    <link th:href="@{/css/ribbon-page.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-blue fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">CRM</p>
        </div>
    </div>

    <div id="main-wrapper">
        <div th:insert="~{/general/header.html}"></div>
        <div th:insert="~{/general/left-sidebar.html}"></div>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div th:insert="~{/general/page-titles.html}"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mettre à jour le seuil d'alerte global</h4>

                                <form th:action="@{/employee/customer/budgets/update-threshold}" method="post">
                                    <div class="input-group m-t-20">
                                        <label for="alertThreshold" class="m-r-10">Seuil d'alerte (%):</label>
                                        <input type="number" step="0.1" id="alertThreshold" name="alertThreshold" 
                                               th:value="${settings.alertThreshold}" min="0" max="100" class="form-control" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary m-t-20">Mettre à jour</button>
                                    <a th:href="@{/}" class="btn btn-secondary m-t-20 m-l-10">Annuler</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:insert="~{/general/right-sidebar.html}"></div>
            </div>
        </div>

        <div th:insert="~{/general/footer.html}"></div>
    </div>

    <script th:inline="javascript">
        var home = /*[[${home}]]*/ null;
    </script>
    <script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/waves.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/sidebarmenu.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/sticky-kit.min.js}"></script>
    <script th:src="@{/js/library/jquery.sparkline.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/custom.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/library/wysihtml5-0.3.0.js}"></script>
    <script th:src="@{/js/library/bootstrap-wysihtml5.js}"></script>
    <script>
        $(document).ready(function() {
            $('.textarea_editor').wysihtml5();
        });
    </script>
</body>
</html>